:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #3d52a0;
  --secondary-color: #7091e6;
  --third-color: #8697c4;
  --fourth-color: #adbbda;
  --fifth-color: #ede8f5;

  /* --primary-color: #2c5e1a; 
  --secondary-color: #4a7c59; 
  --third-color: #6e8b74; 
  --fourth-color: #9cb0a4; 
  --fifth-color: #e8f1e8; */
}
